body{
    font-family: "Montserrat", sans-serif;
    margin:0;
    overflow:hidden;
    color:white;
    background-color: #000000;
}

.main{
    display:flex;
    height:100vh;
    padding:0.5rem;
}


.sidebar{
    background-color: #000000;
    width:24rem;
    border-radius: 1rem;  
    margin-right: 0.5rem;;               /*1rem=16px*/

}

.main_content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow:auto;
    padding:0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: #000000;
    position:fixed;
    bottom:0;
    width:100%;
    height:72px;
}

.nav{
    background-color: #121212;
    padding-left: 5px;
    color:white;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding:0.5rem 0.7rem;
}

a{
    text-decoration: none;
    color:white;
}

.nav-option{
    /* background-color: #121212; */
    line-height:2.5rem;
    font-size:1.2rem;
    opacity:0.5;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity:1;
}

.nav-option i{
    margin-right: 5px;
}

.library{
    height:100%;
    background-color: #000;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}

.option{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.lib-option img{
    height:1.25rem;
    width:1.25rem;
}

.icon{
    margin-left: 10rem;
    display: flex;
}

.icon i{
    opacity: 0.7;
    margin-right:1rem;
    font-size: 1.25rem;
}

.icon i:hover{
    opacity:1;
}

.box{
    background-color: #121212;
    border-radius: 0.74rem;
    height:8rem;
    padding:1rem 1.25rem;
    width:21rem;
    margin:0.5rem 0 1.5rem 0;
}

.box-p1{
    font-weight: 700;
    font-size:1rem;
}

.box-p2{
    opacity: 0.7;
    font-size: 0.85rem;
}

.badge{
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    height:2rem;
    border-radius: 100px;
    margin-top: 0.5rem;
    width:fit-content;
    background-color: white;
    cursor: pointer;
}
.badge:hover{
    box-shadow: 0 0 10px #ddd;
}
.sticky-nav{
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 10;
    padding: 1rem 0 1rem 0;
    align-items: center;
}

#install{
    background-color: #000;
    color:white;
}

.sticky-nav-icon img{
    margin-left: 0.7rem;
}

.sticky-nav-option{
    margin-right: 1.25rem;
}

.sticky-nav-option .badge{
    margin-right: 1rem;
}
#install i{
    padding-right: 4px;
}

@media (max-width:1000px){
    .hide{
        display:none;
    }
}

.cards-container{
    display:flex;
    flex-wrap:wrap;

}

.card{
    width:170px;
    padding:1rem 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    margin-top:1rem;
    cursor: pointer;
}
.card:hover{
   background-color: rgba(42,42,43,1);
}

.card-img{
    width:100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}


.footer{
    height:250px;
    display:flex;
    justify-content:center;
}

.line{
    width:90%;
    height:30%;
    border-top: 2px solid white;
    opacity:0.5;
}


.music-player{
    display:flex;
}



.album{
    width:25%;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-between; */
}

.album-img{
    width: 64px;
    
}
.album-img img{
    width: 100%;
    cursor: pointer;
}


.album-opt{
    margin:0 12px 0 12px;
    
}
.Song-title{
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.artist-name{
    font-size: 12px;
    cursor: pointer;
    line-height: 1px;
}

.Song-title:hover{
    text-decoration: underline;
}
.artist-name:hover{
    text-decoration: underline;
}


.album-icon{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* padding-left: 5px; */
    margin-left: 16px;
    
}

.album-icon img{
    height:25px;
    margin-right: 16px;
    cursor: pointer;
    opacity: 0.75;
}

.album-icon img:hover{
    opacity: 1;
}


.player{
    width:50%;

}

.control{
    width:25%;
}

.player-controls img{
    height:1rem;
    margin-right:2.25rem;
    padding-top: 0.5rem;
    opacity: 0.5;
}

.player-controls img:hover{
    opacity:1;
}

.player-controls{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playback-bar{
    display:flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width:50%;
    background-color: transparent;
    appearance: none;
    cursor:pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color:#ddd;
    border-radius: 100px;
    height:0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:0.8rem;
    width:0.8rem;
    border-radius: 50%;
    margin-top: -5px;
    background-color: #1db954;
}


.control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-icon img{
    height:32px;
    color:#ddd;
    margin-right: 16px;
    cursor: pointer;
    opacity: 0.7;
}

.control-icon-miss{
    padding-bottom: 5px;
    cursor: pointer;
}

.control-icon img:hover{
    color:white;
    opacity: 1;
    height:33px;
}

.control-bar{
    appearance: none;
    background-color: transparent;
    width:92px;
    cursor: pointer;
    padding-bottom: 5px;
}

.control-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem;
}

.control-bar::-webkit-slider-thumb{
    appearance:none;
    background-color: #1db954;
    height:0.8rem;
    width:0.8rem;
    border-radius: 50%;
    margin-top: -5px;
}
